/*.content {*/
/*   */
/*}*/

.content img {
    width: 20%;
    border-radius: 50%;
}

.description {
    font-family: serif;
    padding-top: 10px;
    padding-bottom: 80px;
}

.posts {
    margin: 20px;
}
