body {
  background-color: rgb(233, 239, 244);
  font-family: Arial;
}

.app-wrapper {
  margin: auto;
  display: grid;
  width: 1200px;

  grid-template-areas: "header header header" "nav main main" "footer footer footer";
  grid-template-rows: 375px 1fr;
  grid-template-columns: 2fr 10fr;
  font-size: 20px;
  color: #40ac9d;
  text-align: center;
}




